ul.navinnertab {
  overflow: auto;
  list-style-type: none;
}
 
ul.navinnertab li {
  height: 25px;
  float: left;
  margin-right: 0px;
  border-right: 1px solid #aaa;
  padding: 0 20px;
}
 
ul.navinnertab li:last-child {
  border-right: none;
}
 
ul.navinnertab li a {
  text-decoration: none;
  color: #ccc;
  font: 18px/1 Helvetica, Verdana, sans-serif;
 # text-transform: uppercase;
 
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
ul.navinnertab li a:hover {
  color: #666 !important	;
}
 
ul.navinnertab li.active a {
  font-weight: bold;
  color: #333;
}